* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #FCF7EA;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
    width: 100%;
}

ul li a {
    position: relative; 
}

.nav_bar {
    padding-top: 1%;
    display: flex;
    justify-content: center;
}

.nav_bar a {
    max-width: max-content;
    text-decoration: none;
    color: #000000;
    font-size: clamp(14px, 1vw, 90px);
    z-index: 1;
}


.kontakt_nav{
    background-color: #D01D23;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
}
.kontakt_nav:hover{
    background-color: #b9181e;
    transition: .3s;
}



.logo img {
    width: clamp(100px, 4vw, 300px);
}

.nav_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40vw;
    background: #fff;
    
}

.navlist li {
    display: inline;
    padding: 30px;
}

#menu-icon {
    color: #4B3C2D;
    font-size: 55px;
    z-index: 1101;
    cursor: pointer;
    display: none;
}





#dropdown {
    position: relative;
}

/* SKRIT dropdown – višina = 0, scaleY = 0 */
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #4B3C2D;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;               /* pomembno!!! */
    width: 15vw;
    transform-origin: top;          /* animacija od vrha navzdol */
    transform: scaleY(0);           /* začetno stanje */
    transition: transform .35s ease;
    z-index: 1001; /* gladka animacija */
}

/* povezave */
.dropdown li a {
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: #fff;
}

.dropdown li a:hover {
    background-color: #F0E6D2;
    transition: .3s;
    color: #4B3C2D;
}

/* KO HOVERAŠ – scaleY iz 0 → 1 */
#dropdown:hover .dropdown {
    transform: scaleY(1);
}

.mobile-dropdown .dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    transform: scaleY(1); /* odstranimo scaleY, ker ne deluje dobro pri klikih */
}

.mobile-dropdown.open .dropdown {
    max-height: 500px; /* dovolj za vse linke, lahko prilagodiš */
}





.sticky {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: #fffcfc;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.nav_bar.sticky a {
    color: #252424; /* temna barva */
}
.nav_bar.sticky .kontakt_nav {
    color: #FFFFFF; /* temna barva */
}
@media(max-width: 1314px){
    .nav_bar{
        justify-content: space-around;
        gap: 20vw;
    }
}
@media (max-width:1035px){
    #dropdown{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .dropdown{
        width: 100%;
    }

    .nav_bar.sticky a {
        color: #4B3C2D; /* temna barva */
    }
    .nav_bar.sticky .kontakt_nav {
        color: #4B3C2D; /* temna barva */
    }
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 0;
        right: -100%;
        width: 250px;
        height: 60vh;
        background: #F0E6D2;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: all .55s ease;
    }
    .navlist li{
        padding: 15px;
    }
    .navlist a{
        display: flex;
        margin-left: 0;
        color: #4B3C2D;
        font-size: clamp(18px, 1.9vw, 90px);
    }
    .navlist.open{
        right: 0;
    }
}







































.glava3{
    background-image:linear-gradient(rgba(0,0,0,0.50)), url(manus_aurea/IMG_0119.jpeg);
    background-position: center;
    background-size: cover;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
.besedilo{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding-top: 5vw;
}
.besedilo h1{
    font-size: clamp(29px, 5vw, 200px);
    color: #ffffff;
}
.besedilo p{
    color: #ffffff;
    font-weight: 100;
    font-size: clamp(14px, 1vw, 120px);
}


@media(max-width: 680px){
    .besedilo{
        padding-top: 15vw;
        width: 80%;
    }
}









.onas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
}
.video-onas{
    width: 35%;
    height: 80vh;
}
.video-onas video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



.besedilo-desna{
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 2vw;
}




.besedilo-desna h2{
    font-size: clamp(22px, 2vw, 90px);
}
.besedilo-desna p{
    font-size: clamp(12px, 1vw, 80px);
    font-weight: 100;
}
.besedilo-desna ul{
    display: flex;
    flex-direction: column;
    gap: .7vw;
    list-style-type:"✓";

}
.besedilo-desna ul li{
    font-size: clamp(12px, .8vw, 80px);
    padding-left: .6vw;
}

@media(max-width:897px){
    .onas{
        flex-direction: column;
        gap: 2vw;
    }
    .video-onas{
        width: 60%;
        height: 60vh;
    }
    .besedilo-desna{
        width: 60%;
        gap: 4vw;
    }
    .besedilo-desna ul{
        gap: 2vw;
    }
}
@media(max-width:600px){
    .onas{
        flex-direction: column;
        gap: 2vw;
    }
    .video-onas{
        width: 80%;
        height: 60vh;
    }
    .besedilo-desna{
        width: 80%;
        gap: 6vw;
    }
    .besedilo-desna ul{
        gap: 3vw;
    }
}




























































.onama{
    display: flex;
    flex-direction: column;
    gap: 3vw;
    padding: 5vw;
}
.kaja, .rok{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.kaja .text, .rok .text{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.onama .text h2{
    font-size: clamp(18px, 2vw, 120px);
}
.onama .text p{
    font-size: clamp(10px, 1vw, 120px);
    font-weight: 100;
}
.onama .text button{
    font-size: clamp(10px, 1vw, 120px);
    background-color: #4B3C2D;
    border: none;
    padding: .7vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    border-radius: 50px;
    color: #ffffff;
}
.kaja .slika{
    background-image: url(manus_aurea/IMG_0433.jpeg);
}
.rok .slika{
    background-image: url(manus_aurea/IMG_2828.jpeg);
}

.onama .slika{
    height: 35vw ;
    width: 30vw;
    border-radius: 25%;
    background-position: center;
    background-size: cover;
}











@media(max-width: 740px){
    .onama .slika{
        height: 45vw ;
        width: 40vw;
        border-radius: 25%;
        background-position: center;
        background-size: cover;
    }
}
@media(max-width: 650px){
    .onama{
        gap: 10vw;
    }
    .kaja, .rok{
        flex-direction: column;
    }
    .rok .slika{
        display: none;
    }
    .kaja .slika{
        width: 80%;
        height: 70vw;
    }
    .rok .slika2{
        height: 70vw ;
        width: 80%;
        border-radius: 25%;
        background-position: center;
        background-size: cover;
        background-image: url(manus_aurea/IMG_2828.jpeg);
    }
    .kaja .text, .rok .text{
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 1vw;
    }
    .onama .text h2{
        font-size: clamp(18px, 4vw, 120px);
    }
    .onama .text p{
        font-size: clamp(10px, 2vw, 120px);
        font-weight: 100;
    }
    .onama .text button{
        font-size: clamp(10px, 2vw, 120px);
        background-color: #4B3C2D;
        border: none;
        padding: 1.5vw;
        padding-left: 2.5vw;
        padding-right: 2.5vw;
        border-radius: 50px;
        color: #ffffff;
    }

}































































footer{
    background-color: #4B3C2D;
    padding-top: 2vw;
}
.noga{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2vw;
}
.info{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.info a, .info li, .info h2{
    color: #ffffff;
    text-decoration: none;
}
.info li, .info a{
    font-weight: 100;
}
.podstrani{
    display: flex;
    flex-direction: column;
    gap: .5vw;
}
.podstrani ul{
    list-style-type: none;
    display: flex;
    gap: 2vw;
}
.storitve-kontakt{
    display: flex;
    justify-content: flex-start;
    gap: 10vw;
}
.storitve-list{
    display: flex;
    flex-direction: column;
    gap: .5vw;
}
.kontakt-noga{
    display: flex;
    flex-direction: column;
    gap: .5vw;
}
.storitve-list ul{
    list-style-type: none;
}
.zemljevid{
    width: 45%;
    height: 20vw;
    border-radius: 50px;
}
iframe{
    border-radius: 50px;
}




.noga a{
    font-size: clamp(10px, .9vw, 50px);
}
.noga h2{
    font-size: clamp(16px, 1.3vw, 50px);
}






@media(max-width: 900px){
    .storitve-kontakt{
        flex-direction: column;
        gap: 2vw;
    }
    .info{
        gap: 2vw;
    }
    .zemljevid{
        height: 40vw;
    }
}
@media(max-width: 660px){
    .zemljevid{
        height: 50vw;
    }
}
@media(max-width:455px){
    .noga{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vw;
    }
    .zemljevid{
        width: 90%;
        height: 50vw;
    }
    .info{
        width: 85%;
    }
    .noga a{
        font-size: clamp(14px, 2vw, 90px);
    }
    .noga h2{
        font-size: clamp(20px, 3vw, 50px);
    }
    .podstrani ul{
        gap: 3vw;
    }
}
















.avtorske{
    background: #ffffff;
    display: flex;
    justify-content: center;
}
.avtorske p{
    padding-top: .5vw;
    padding-bottom: .5vw;
    font-size: clamp(8px, .6vw, 120px);
}
.avtorske a{
    color: #4B3C2D;

}
